.top-right{
    position: absolute;
    top: 0px;
    right: 0px;
    border-bottom-left-radius: 30px;
    background-color: orangered;
    padding: 5px 10px 5px 20px ;
    font-size: 20px;
    font-variant: small-caps;
    font-weight: bold;
}

.top-right a:hover{
    color:white;
    text-decoration: none;
    }
    
    .top-right a{
        text-decoration: none;
        color: black;
    }





nav{
    background-color: white;
    line-height: 25px;
    color:black;
    text-align: center;
    font-variant:small-caps;
    font-size: 40px;
    bottom: 200px;
   
    }

 
nav a:hover{
text-decoration: none;
color: yellow;
font-variant: small-caps;
line-height: 30px;
font-weight: bold;
text-decoration: underline;
}

nav a{
color: black;
text-decoration:none;
font-variant: small-caps;
line-height: 30px;

}

.menu>ul>li{
display: inline-block;

}

.menu>ul>li>a{
display: block;

}

.menu>ul{
padding: 10px;
margin: 0px;
list-style: none;
background-color: white;
text-align: right;


} 
.menu>ul>li>a{
text-decoration: none;
font-variant: small-caps;
font-size: large;
color:black;
padding: 0 10px;
line-height: 43px;
}
.menu>ul>li>a:hover{
color: red;
font-size: 21px;
} 
.menu ul ul{
position: absolute;
display: none;
padding:0px;
margin: 0px;
list-style: none;
border-radius:3px;
width:200px;
background-color:white;
box-shadow:0 0 1px gray;

}
.menu ul ul a{
display:block;
line-height:30px;
color:black;
text-decoration:none;
font-variant:small-caps;
font-size:larger;
padding:0 10px;

}
.menu>ul>li:hover>ul{
display: block;
z-index: 1;
} 
.menu ul ul a:hover{
background-color: orangered;
color: white;
}

.anh{
  
    float: left;
    padding-top: 6px;
    margin-bottom: 5px;
    margin-right: -20px;
    margin-top: -25px;
    margin-left: -20px;
   
}

.giohang{
    float: right;
    margin-right: 250px;
    margin-top: -5px;

}

.img{
   
    float: right;
    margin-top: -44px;
    margin-left: 65px;
    
    
}

.chuthich{
    width: 1263px;
    height: 300px;
    background-color: dimgray;
   margin-left: -8px;
}

.chamsoc a{
    text-decoration: none;
    color: black;
}

.chamsoc a:hover{
    color: yellow;
}



.col-25{
    width:300px;
    height: 350px;
   float:left;
   margin-left: 16px;
   margin-top: 20px;
   }

.prod{
width: 250px;
height: 450px;
box-shadow:0-0 10px gray;
margin:1px;
padding:5px;
 text-align:center;
 position:relative;
 border: 4px solid darkgrey;
}


.prod>.name:hover{
 font-weight: bold;
 font-size: 23px;
 
}

.prod>.image{
height:200px;
margin-bottom:8px;

}


.muahang{
    background-color:plum;
    width: 130px;
 height: 30px;
 border-radius:10px;
    margin-left: 60px;  
    margin-top: 9px;
    color: black;
   
}

.hang a{
    color:deeppink;
  
 
}
   
.muahang .hang a:hover{
   
    background-color: yellow;  
}

.muahang>a{
    text-decoration: none;
}

.muahang:hover{
   background-color: yellow;

}
.image:hover{
    height:210px;
margin-bottom:8px;
}


.chuthich{
    width: 1263px;
    height: 300px;
    background-color: dimgray;
   margin-left: -708px;
}


.chamsoc a{
    text-decoration: none;
    color: black;
}

.chamsoc a:hover{
    color: yellow;
}
